/** Bootstrap */

$font-family-sans-serif: 'Pixelify Sans', Verdana, sans-serif;

/** Bootstrap */

$cornsilk: cornsilk;
$faded-primary: rgba(15,112,253,0.5);
$brand-red: #E84747;

.bg-cornsilk {
  background-color: $cornsilk;
}

.three-rem {
  font-size: 3rem;
}